@import "tailwindcss";
@plugin "daisyui" {
  themes: forest --default;
}

@theme {
  --text-heading: 5rem;
  --text-600: clamp(1.25rem, 1.5vw, 1.75rem);
  --text-500: clamp(0.85rem, 1vw, 1.5rem);
  --text-400: clamp(0.65rem, 0.75vw, 1rem);
  --text-300: clamp(0.6rem, 0.65vw, 0.75rem);
}
